body{

	background-color: #480082;
	color: white;
	margin-right: 10%; margin-bottom: 15%; margin-left: 10%; margin-top: 5%;
}

h1{
text-align: center;
}

h2{

text-align: center;
}
img{

	width: 50%;
}
p{
text-align: justify;
	font-size: 20px;
	text-indent: 30px;
}
figure{

	text-align: center;

}