body{

	background-color: white;
	margin-right: 15%; margin-bottom: 15%; margin-left: 15%; margin-top: 5%;
}

h1{
text-align: center;
color: black;
}

h2{

text-align: center;
color: black;
}
img{

	width: 50%;
}
p{

	font-size: 20px;
}
figure{

	text-align: center;

}