body{

	background-color: #480082;
	color: white;
	margin-right: 10%; margin-bottom: 15%; margin-left: 10%; margin-top: 5%;
}

h1{
text-align: center;
}

h2{

text-align: center;
}
img{

	width: 50%;
}
p{
text-align: justify;
	font-size: 20px;
	text-indent: 30px;
}
figure{

	text-align: center;

}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
table{

  width: 100%;
  
}
th{
 
  height: 70%;
}
td{

  text-align: center;
}
th, td{

  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: #9400D3;}
table, th, td {
  border: 2px solid black;
}